

help.txt

Small_calculator

error_log.log
output.txt
file.txt

.vscode/settings.json
.fuse_hidden000001e300000001

Заметки для реализации.txt
.fuse_hidden0000018500000004
.fuse_hidden000005e800000006
